@media screen and (max-width: 1142px)
  .hello .inner_cloud .module .mo_item
    width 100%
    text-align center
    text-indent 0
    .s_logo
      display none

  .hello .inner_cloud .x_fuzzy
    height 300px

  .hello .inner_cloud .x_fuzzy .tell
    font-size 3rem
    line-height 3rem
    margin-top 15%
  .hello .inner_cloud .x_fuzzy .tell .to_right
    width 20%
  .hello .inner_cloud .x_fuzzy .search_form
    right 0%
  .hello .inner_cloud .x_fuzzy .tell .to_left
    width 20%

  .inner_cloud .module .mo_item:nth-child(4)
    display none

  .inner_cloud .module .mo_item:nth-child(5)
    display none

  .inner_cloud .module .mo_item:nth-child(6)
    display none

  .inner_cloud .controll
    height auto
    .con_item
      width 97%
  .x_logo
    display none
  .inner_cloud .x_fuzzy .x_header ul
    display none
  .hello .inner_cloud .show_list
    display block
  .hello .change .module_item
    width 100%
    margin 2% 0
  .hello .controll .con_item pre
    font-size 1.5rem
  .hello .footer .inner .pic
    float:none
  .hello .footer .inner .pic img
    width 30%






