.j_card_cloud
  background #c5dfc5
  background-attachment fixed
  padding-bottom 2%
  .j_card_detail
    max-width 1200px
    margin 0 auto
    .j_card_item
      border-radius 5px
      margin 2% 0
      text-align center
      font 1.6rem/3rem "华文细黑"
      img
        display block
      h1
        font 3rem/5rem "Hakuua538b646418e57"
        text-align center
        color #f69804
      .color_h1
        color #872341
      .switch
        display inline-block
        vertical-align baseline;
        margin 0 2px;
        outline none;
        cursor pointer;
        text-align center;
        text-decoration none;
        font 2rem/100% DroidSansa57ce0ed718e57;
        padding .5em 2em .55em;
        text-shadow 0 1px 1px rgba(255,255,255,.3);
        -webkit-border-radius .5em;
        -moz-border-radius .5em;
        border-radius .5em;
        -webkit-box-shadow 0 1px 2px rgba(0,0,0,.2);
        -moz-box-shadow 0 1px 2px rgba(0,0,0,.2);
        box-shadow 0 1px 2px rgba(0,0,0,.2);
        font-weight bold
        &:hover
          background rgba(255,255,255,0.5)
      p
        font 1.6rem/3rem "华文细黑"
        text-indent 2em
        padding 0 1%
        color #000
      pre
        background #005691
        font-size 1.4rem
        border-radius 5px
        text-align left
        line-height 2rem
        color #E8F1F5
      a
        display block
        text-align center
        color #2f1b41
        font 2rem/2rem "华文细黑"
        border-bottom 1px dashed #872341
      span
        color #a18cd1
        font-weight bold
      code
        color #EAB64D
        display block
        background #127C56
        border-radius 5px
        font 1.6rem/3rem "微软雅黑"
      b
        color #1396d9
        font-weight bold
      .highlight
        font-family "华文细黑"
        font-weight bold
    .show
      text-align center
      font-size 4rem
      font-weight bolder
      color #872341
      padding-bottom 2%
      cursor pointer
      transition all 0.5s
      letter-spacing 2px
      &:hover
        color teal
